<!DOCTYPE html>
<html lang="en">
  <head>
 

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="author" content="ClaPat Studio">
    
    <title>Fabogesic</title>
    
    <!-- Favicon -->
    <link rel="icon" type="image/ico" href="images/favicon.ico">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"> 
    <!-- Sticky Footer styles -->
    <link rel="stylesheet" href="css/sticky-footer-navbar.css">
    <!-- Custom styles -->
    <link rel="stylesheet" href="css/app.css">
    <!-- Fonts styles -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>
    

    <!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index.html"><img src="assets/img/main-logo-inverse.png" alt="Fabogesic"></a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a>PRESENTACIONES</a></li>
                <li><a href="que-es-el-ibuprofeno.html">¿QUÉ ES EL IBUPROFENO?</a></li>
                <li><a href="#">USOS MÁS FRECUENTES</a></li>
                <li><a href="#">CONTACTO</a></li>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container pediatria">
        
      <div class="row header">
        
        <div class="col-xs-12 col-sm-6">
          <img class="img-responsive" src="assets/img/seccion-pedriatica.jpg" alt="Sección Pediatrica">
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="row">
            <div class="col-xs-12">
              <h1><img class="img-responsive" src="assets/img/header-seccion-pediatrica.jpg" alt="SECCIÓN PEDIÁTRICA"></h1>
            </div>
            <div class="col-xs-12">
              <p class="text-center header-description"><strong class="text-primary">Fabogesic niños</strong> es un tratamiento eficaz y rápido para el dolor y reducir la fiebre. De hecho, nada ayuda a aliviar la fiebre de su niño más rápido o durante más tiempo que Fabogesic niños.</p>
            </div>
            <div class="col-xs-12">
              <img class="img-responsive" src="assets/img/seccion-pediatrica-tip.jpg" alt="¿Sabía usted... ?">
            </div>
          </div>
        </div>
      
      </div>

      <div class="row">

        <div class="col-xs-12 col-sm-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <img class="img-responsive" src="assets/img/caja-ninos-400x10.png" alt="400mg x 10 cápsulas de gelatina blanda">
            </div>
            <div class="panel-footer">
              <div class="row info-box">

                <div class="col-xs-12 col-md-9">
                  <h4>400mg x 90 cápsulas de gelatina blanda</h4>
                </div>
                <div class="col-xs-12 col-md-9">
                  <div class="row">
                    <div class="col-md-6"><p><img src="assets/img/txt-venta-libre.png" alt="VENTA LIBRE"></p></p></div>
                    <div class="col-md-5"><a class="btn btn-default btn-xs" role="button" href="#">Ver prospecto</a></div>
                  </div> 
                </div>
                <img class="img-responsive nena" src="assets/img/nena.png" alt="" />
              </div>

            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <img class="img-responsive" src="assets/img/caja-ninos-400x20.png" alt="400mg x 20 cápsulas de gelatina blanda">
            </div>
            <div class="panel-footer footer-logo">
              <div class="row info-box">

                <div class="col-xs-12 col-md-10">
                  <h4>400mg x 20 cápsulas de gelatina blanda</h4>
                </div>
                <div class="col-xs-12 col-md-10">
                  <div class="row">
                    <div class="col-md-5"><p><img src="assets/img/txt-venta-libre.png" alt="VENTA LIBRE"></p></div>
                    <div class="col-md-5"><a class="btn btn-default btn-xs" role="button" href="#">Ver prospecto</a></div>
                  </div> 
                </div>

              </div>

            </div>
          </div>
        </div>

      </div>

      <div class="row ventajas">

        <div id="accordion">

          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              <img class="img-responsive" src="assets/img/title-ventajas.png" alt="VENTAJAS">
            </a>
          </h4>

          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">

              <div class="col-xs-12 col-sm-6">
                <ul class="ventajas-left">
                  <li class="tick">
                    <p>Alivia la fiebre de hasta 8 horas y ya se ha demostrado clínicamente que dura más que el paracetamol.</p>
                  </li>
                  <li class="tick">
                    <p>Se usa para tratar el dolor de esas pequeñas caídas, dolor de oído* y alivia la fiebre asociada con la dentición.</p>
                  </li>
                </ul>
              </div>  

              <div class="col-xs-12 col-sm-6">
                <ul class="ventajas-right">
                  <li class="tick">
                    <p>Está disponible en sabor a Frutilla y no pica la garganta de su niño.</p>
                  </li>
                  <li class="tick">
                    <p>Es libre de Azúcar.</p>
                  </li>
                  <li class="tick">
                    <p>Viene con un vaso dosificador que permite la dosis exacta.</p>
                  </li>
                </ul>
              </div>

            </div>
          </div>

        </div>

      </div>


      <div class="row buen-padre">
        
        <div class="col-md-12 buen-padre-top"></div>
          
        <div class="col-md-12">
          
          <div class="row">
            
            <div class="col-xs-12 col-sm-4">
              <img class="img-responsive" src="assets/img/vaquita.png" alt="" />
            </div>

            <div class="col-xs-12 col-sm-8">
              <p class="text-center">Todo buen padre no quiere ver sufrir a su hijo. Lamentablemente el dolor es un hecho desafortunado de la vida y en algún momento su hijo lo experimentará – ya sea a causa de accidente o enfermedad, o simplemente una parte del proceso de crecimiento. Pero, ¿cómo se siente su hijo ante el dolor? ¿Para qué sirve?</p>
              <p class="text-center"><strong>Para ayudarle a entender el dolor un poco más,<br />aquí están las respuestas a algunas preguntas interesantes:</strong></p>
            </div>

          </div>
          
        </div>

        <div class="col-md-12 desplegable">

          <div class="row">

            <div class="col-md-6">

              <div id="accordion">

                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    <img class="img-responsive" src="assets/img/pregunta1.png" alt="VENTAJAS">
                  </a>
                </h4>

                <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="col-sm-12">
                      <p>A lo largo del cuerpo de tu hijo existen millones de fibras nerviosas donde algunas se conectan con receptores del dolor, llamados Nociceptores, que le avisan lo que está pasando en su cuerpo. Cuando tu hijo se enferma o golpea, estos Nociceptores trasmiten señales de dolor al cerebro a través de la medula espinal mientras que sustancias químicas sensibilizan los nervios amplificando el dolor y asegurándose que el cerebro los escuche.</p>
                      <p><strong>Recordemos que los niños requieren permanentemente  amor y  atención por parte de su  familia , especialmente en estos momentos.</strong></p>
                    </div>
                  </div>
                </div>

              </div>

            </div>

            <div class="col-md-6">

              <div id="accordion">

                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                    <img class="img-responsive" src="assets/img/pregunta2.png" alt="VENTAJAS">
                  </a>
                </h4>

                <div id="collapseThree" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="col-sm-12">
                      <p>El Ibuprofeno es el analgésico más recomendado por pediatras porque actúa rápidamente bajando la fiebre y calmando el dolor. El efecto tiene una duración de 8hs por lo que se debe tomar 3 veces por día. <br />No obstante, los padres deben hablar con el pediatra para determinar el uso correcto del medicamento. </p>
                    </div>
                  </div>
                </div>

              </div>

            </div>

          </div>

        </div>

        <div class="col-md-12 buen-padre-bottom"></div>
      
      </div>

      <div class="row dudas">

        <div class="col-xs-12 col-sm-4">
          <img class="img-responsive" src="assets/img/nene.png" alt="">
        </div>

        <div class="col-xs-12 col-sm-8">
          <p class="text-center">Una pregunta básica que muchos padres pueden tener es, ¿cuál es la diferencia entre el <strong>ibuprofeno</strong>, el medicamento de la Infancia Advil ®, y el <strong>acetaminofén</strong>, el medicamento en los niños Tylenol ®? <br /><strong>Estas son algunas cosas que los padres pueden querer saber antes de ir a la farmacia:</strong></p>
        </div>

      </div>

      <div class="row curiosidades">

        <div id="accordion">

          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
              <img class="img-responsive" src="assets/img/title-curiosidades.png" alt="CURIOSIDADES">
            </a>
          </h4>

          <div id="collapseFour" class="panel-collapse collapse">
            
            <div class="panel-body">
                
                <div class="row">
                  
                  <ul>
                  
                    <div class="col-xs-12 col-sm-6">
                      
                      <li class="tick tick-blue">
                        <p>El ibuprofeno es el n° 1 recomendado por los pediatras antipirético / analgésico.</p>
                      </li>
                      <li class="tick tick-blue">
                        <p>El ibuprofeno y el acetaminofén son los únicos ingredientes activos utilizados en venta libre para aliviar el dolor de los niños / antifebriles.</p>
                      </li>
                      <li class="tick tick-blue">
                        <p>El ibuprofeno (el ingrediente activo en Fabogesic Niños) dura más tiempo que el acetaminofeno . El ibuprofeno tiene una duración de hasta 8 horas, mientras que el paracetamol dura 4-6 horas.</p>
                      </li>

                    </div>

                    <div class="col-xs-12 col-sm-6">
                      
                      <li class="tick tick-blue">
                        <p>El ibuprofeno es seguro cuando se toma según las indicaciones. Sin embargo, como con cualquier medicamento, los padres deben hablar con el pediatra de su hijo para hablar sobre lo que puede ser mejor para su hijo.</p>
                      </li>

                    </div>

                  </ul>

                </div>

            </div>

          </div>

        </div>

      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- Jquery -->
    <script src="lib/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="lib/bootstrap.min.js"></script>
    <!-- My App Scripts -->
    <script src="lib/holder.js"></script>
    <!-- My App Scripts -->
    <script src="js/app.js"></script>

    <!-- Google Analytics -->
    <script>

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function()
      { (i[r].q=i[r].q||[]).push(arguments)}

      ,i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51790155-1', 'fabogesic.com');
      ga('send', 'pageview');

    </script>

  </body>
</html>