/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
  font-family: 'Lato', sans-serif;
}

.img-responsive{
  margin: 0 auto;
}

.header{
  margin-bottom: 30px; 
  margin-top: 15px; 
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
}

.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-inverse{
  background-color: #014c73;
  background-image: none;
  border-color: #014c73;
}

.navbar-brand{
  padding: 5px;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a{
  text-shadow: none;
}

.navbar-inverse .navbar-nav > li > a{
  color: #fff;
  font-weight: 700;
}

.navbar-inverse .navbar-nav > li > a:hover, 
.navbar-inverse .navbar-nav > li > a:focus{
  background-color: #1e5c7c;
  border-radius: 0;
}

.navbar-inverse .navbar-toggle:hover, 
.navbar-inverse .navbar-toggle:focus{
  background-color: #fff;
}

.navbar-inverse .navbar-toggle:hover > .icon-bar, 
.navbar-inverse .navbar-toggle:focus > .icon-bar{
  background-color: #014c73;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  /*height: 601px;*/
  overflow: hidden;
}

.carousel-inner{
  margin-top: 50px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 0;
  background-color: #fff;
  padding: 0 0 42%;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: auto;
  max-width: 1446px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.carousel-indicators li{
  background-color: #ffffff;
  border: none;
  margin: 0 10px;
}

.carousel-indicators .active{
  background-color: #ff8710;
  width: 11px;
  height: 11px;
  margin: 0 10px;
}

.carousel-control.left,
.carousel-control.right{
  background-image: none;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 0;
  padding-left: 0;
  border-top: 2px solid #fff;
}

.marketing > div{
  padding: 20px;
  position: relative;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-md-3 {
  text-align: left;
}

.marketing h4 {
  font-weight: bold;
}

.marketing > div img{
  position: absolute;
  bottom: -10%;
  right: 5px;
  z-index: 999;
  height: 25%;
  width: auto;
}

.marketing > div:last-child{
  background-image: url("../assets/img/savant-home.png");
  background-position: bottom right;
  background-repeat: no-repeat;
}

.marketing > div:last-child p{
  width: 75%;
}

/* PRESENTACIONES CONTENT
-------------------------------------------------- */

.presentaciones{
  margin: 0 auto 120px;
}

.presentaciones h3:before{
  content: "►";
  font-size: 20px;
  margin: 0 5px 0 0;
}

a > .producto{
  position: relative;
  text-decoration: none;
}

.producto{
  background-image: url("../assets/img/bg-producto.png");
  background-repeat: no-repeat;
  background-position: center top;
  height: 370px;
  text-align: center;
}

  .producto img{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -65%) scale(1);
    -moz-transform: translate(-50%, -65%) scale(1);
    -ms-transform: translate(-50%, -65%) scale(1);
    -o-transform: translate(-50%, -65%) scale(1);
    transform: translate(-50%, -65%) scale(1);
    transition: all 0.3s ease;
    width: inherit;
  }

    .producto:hover img{
      -webkit-transform: translate(-50%, -65%) scale(1.1);
      -moz-transform: translate(-50%, -65%) scale(1.1);
      -ms-transform: translate(-50%, -65%) scale(1.1);
      -o-transform: translate(-50%, -65%) scale(1.1);
      transform: translate(-50%, -65%) scale(1.1);
    }

  .producto p{
    color: #fff;
    font-size: 24px;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
  }

  .producto p:before{
    content: '▼';
    position: absolute;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .descripcion-producto{
    margin: 30px 0;
    text-align: left;
  }

  .info-box{
    margin: 0 10px;
    padding: 15px 0;
    position: relative;
    text-align: center;
  }

  .pediatria .info-box{
    text-align: left;
  }

  .nena{
    position: absolute;
    bottom: -10px;
    right: -20px;
    width: 25%;
  }

  .footer-logo{
    background-image: url("../assets/img/bg-logo-savant.png");
    background-position:  right bottom;
    background-repeat:  no-repeat;
  }


/* SECCION PEDIATRICA
-------------------------------------------------- */

.pediatria{
  margin: 30px auto 0;
}

.header-description{
  font-size: 18px;
  line-height: 24px;
}

.buen-padre{
  margin: 30px 0;
}

.buen-padre p, .dudas p{
  font-size: 18px;
  line-height: 28px;
}

.buen-padre-top{
  background: url("../assets/img/bg-buen-padre-top.png") center top no-repeat;
  background-size: 100%;
  height: 128px;
  margin-bottom: -80px;
}

.buen-padre-bottom{
   background: url("../assets/img/bg-buen-padre-bottom.png") center bottom no-repeat;
   background-size: 100%;
   height: 128px; 
   margin-top: -80px;
}

.desplegable{
  margin-top: 30px;
  position: relative;
  z-index: 10;
}

.desplegable p{
  font-size: 15px;
  line-height: 20px;
}

.desplegable a{
  display: block;
  padding: 15px 0;
}

.ventajas{
  margin-top: 30px; 
}

.ventajas ul, .curiosidades ul{
  list-style: none;
  padding: 25px;
}

.ventajas-left, .ventajas-right, .curiosidades .panel-body{
  background-color: #CDE217;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
}

.tick{
  background: url("../assets/img/tick.png") no-repeat 0 0;
  padding: 0 0 0 25px;
}

.tick-blue{
  background: url("../assets/img/tick-blue.png") no-repeat 0 0;
}

.tick p{
  font-size: 16px;
}

.tick-blue p{
  color: #1d5284;
}

.curiosidades .panel-title{
  margin-bottom: 15px;
}

/* QUE ES EL IBUPROFENO */

.ibuprofeno{
  text-align: center;
}

.ibuprofeno h1{
  color: #f58738;
  font-size: 44px;
  margin: 60px 0;
}

/* Custom Backgrounds for Fabogesic */
.bg-primary{
  background-color: #093b54;
}

.bg-presentaciones{
  background-image: url("../assets/img/bg-presentaciones.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.bg-warning{
  background-color: #fff;
  color: #005783;
}

/* Custom Buttons */

.btn{
  border-radius: 20px;
}

/* HELPER CLASSES */

.bordered{
  border-bottom: 1px solid #222;
  border-top: 1px solid #222;  
}

/* Modal
------------------------- */

.modal{
  z-index: 99999;
  background: rgba(81,134,156,.7);
}

.modal-content{
  border-radius: 0;
  color: #fff;
  background-color: #053e56;
  text-align: center;
  box-shadow: none;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.modal-header{
  border-bottom: 0;
}

.modal-footer{
  border-top: 0;
  text-align: center;
}

.modal-header .close{
  background-color: #fea44b;
  color: #fff;
  opacity: 1;
  border-radius: 50%;
  padding: 0px 6px 3px;
  font-size: 21px;
  top: -10px;
  position: absolute;
  right: -10px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }

  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left:  15px;
  }

  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left:  0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 10px;
  }

  .navbar>.container .navbar-brand, 
  .navbar>.container-fluid .navbar-brand{
    margin: 0;
  }

  .navbar-nav > li:first-child{
    border-left: none;
  }

  .navbar-nav > li > a{
    padding-left: 8px;
    padding-right: 8px;
    font-size: 12px;
  }

  .navbar-inverse .navbar-nav > li:last-child > a:hover, 
  .navbar-inverse .navbar-nav > li:last-child > a:focus{
    border-radius: 0 10px 10px 0;
  }

  .carousel-inner{
    margin-top: 0;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }

  .marketing > div img{
    height: 60%;
    bottom: -20%;
  }

  .presentaciones{
    margin: 60px auto;
  }

  .producto{
    background-size: 100%;
    height: 310px;
  }

  .producto img{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -65%) scale(.8);
    -moz-transform: translate(-50%, -65%) scale(.8);
    -ms-transform: translate(-50%, -65%) scale(.8);
    -o-transform: translate(-50%, -65%) scale(.8);
    transform: translate(-50%, -65%) scale(.8);
    transition: all 0.3s ease;
    width: inherit;
  }

    .producto:hover img{
      -webkit-transform: translate(-50%, -65%) scale(.9);
      -moz-transform: translate(-50%, -65%) scale(.9);
      -ms-transform: translate(-50%, -65%) scale(.9);
      -o-transform: translate(-50%, -65%) scale(.9);
      transform: translate(-50%, -65%) scale(.9);
    }

  .presentaciones h3{
    margin-bottom: 30px;
  }

}

@media (min-width: 992px) {

  .featurette-heading {
    margin-top: 120px;
  }

  .navbar-nav > li > a{
    padding-left: 26px;
    padding-right: 26px;
    font-size: 14px; 
  }

  .marketing > div:hover{
    top: -30px;
  }

  /* Boxes in Home
  -------------------------- */
  .marketing{
    margin-bottom: 120px;
  }

  .marketing > div{
    position: relative;
    padding: 30px 20px 35px;
    bottom: 0;
    top: 0;
    height: 160px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    z-index: 9999;
  }

  .marketing > div a{
    position: absolute;
    bottom: 35px;
  }

  .marketing > div:hover{
    height: 190px;
    bottom: 0;
    top: -30px;
    padding: 10px 20px 35px;
  }

  .marketing > div > p{
    display: none;
    font-family: arial;
    font-size: 11px;
    line-height: 1.2;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
  }

  .marketing > div:hover > p{
    display: block;
  }

  .marketing > div img{
    display: block;
    position: absolute;
    bottom: -60px;
    right: 5px;
    height: auto;
    width: auto;
  }

  .producto{
    height: 350px;
  }

  .producto img{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -65%) scale(1);
    -moz-transform: translate(-50%, -65%) scale(1);
    -ms-transform: translate(-50%, -65%) scale(1);
    -o-transform: translate(-50%, -65%) scale(1);
    transform: translate(-50%, -65%) scale(1);
    transition: all 0.3s ease;
    width: inherit;
  }

    .producto:hover img{
      -webkit-transform: translate(-50%, -65%) scale(1.1);
      -moz-transform: translate(-50%, -65%) scale(1.1);
      -ms-transform: translate(-50%, -65%) scale(1.1);
      -o-transform: translate(-50%, -65%) scale(1.1);
      transform: translate(-50%, -65%) scale(1.1);
    }

  .info-box{
    text-align: left;
  }

  .ventajas-left{
    background-image: url("../assets/img/ventajas-1.png");
    background-color: transparent;
  }

  .ventajas-right{
    background-image: url("../assets/img/ventajas-2.png");
    background-color: transparent;
  }

  .tick p{
    font-size: 12px;
  }

  .curiosidades .panel-body{
    background-image: url("../assets/img/curiosidades.png");
    background-color: transparent;
    padding: 30px 15px;
  }


}

@media (min-width: 1200px){
  
  .navbar-brand{
    padding: 5px 60px 0 45px;
  }

  .navbar-nav > li:first-child{
    border-left: 1px solid #000;
  }

  .navbar-nav > li{
    border-right: 1px solid #000;
  }

  .navbar-nav > li:last-child{
    border-right: 0;
  }

  .navbar-nav > li > a{
    padding-left: 38px;
    padding-right: 38px; 
  }

  .navbar-nav > li:last-child > a{
    padding-right: 41px;
  }

  .carousel .item {
    height: 601px;
    background-color: #fff;
    padding: 0;
  }
  
  .carousel-inner > .item > img{
    height: 100%;
    width: auto;
  }

  .producto{
    height: 430px;
  }

  .header-description{
    padding-top: 45px;
    padding-bottom: 45px;
  }
  
  .tick p{
    font-size: 16px;
  }

}